.form-control {
    display: flex;
    flex-direction: row;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error div {
    color: red;
}
.formControl textarea {
    height: 40px;
    width: 300px;
    outline: none;
    resize: none;
    border-radius: 10px;

}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}